.ezy__service20 {
	/* Bootstrap variables */
	--bs-body-color: #28303b;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-card-bg: #ffffff;
	--ezy-card-box-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);

	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	position: relative;
	padding: 20px 5% !important;
	z-index: 1;
	overflow: hidden;
}

@media (min-width: 768px) {
	.ezy__service20 {
		padding: 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__service20,
.ezy__service20.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);

	/* Easy Frontend variables */
	--ezy-card-bg: #f6f6f6;
}

/* Dark Gray Block Style */
.dark-gray .ezy__service20,
.ezy__service20.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-card-bg: rgb(30, 39, 53);
	--ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

.dark .ezy__service20,
.ezy__service20.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-card-bg: rgb(11, 23, 39);
	--ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
}

.ezy__service20-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.ezy__service20-heading {
		font-size: 40px;
	}
}

.ezy__service20-sub-heading {
	font-size: 17px;
	line-height: 1.5;
	opacity: 0.8;
}

/* shapes */
.ezy__service20-shape-one {
	z-index: -1;
	bottom: -20%;
	left: 0;
}
.ezy__service20-shape-two {
	z-index: -1;
	top: -20%;
}

.ezy__service20-card {
	background-color: var(--ezy-card-bg);
	box-shadow: var(--ezy-card-box-shadow);
}
.ezy__service20-icon {
	font-size: 40px;
	color: var(--ezy-theme-color);
}